.page-home {
  max-width: 70vw;
  margin: 0 auto;
  display: block;
  .search-box {
    margin-bottom: 1rem;
  }
  .data-list {
    display: flex;
    justify-content: space-between;
    .data-item {
      padding: 1rem;
      border-radius: 10px;
      border: solid 1px pink;
    }
  }
  @media screen and (max-width: 540px) {
    max-width: 100vw;
  }
}
